.navbar {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.789);
  border: 2px solid rgba(103, 103, 103, 0.158);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 1px 1px rgba(117, 117, 117, 0.341);
  border-radius: 9999px;
  z-index: 1000;
  transition: height 0.3s ease;
  height: 3.9rem; /* default height */
  overflow: visible;
  align-items: center;
}

.navbar:hover {
  height: 4.4rem; /* expanded height on hover */
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2.5rem;
  font-size: 1.3rem;
  border-radius: 0.75rem;
  color: #000000a2;
  text-decoration: none;
  transition: transform 0.25s ease, background-color 0.25s ease;
  cursor: pointer;

  background: none;
  border: none;
  padding: 0;
}

.icon-link:hover {
  color: #4e7dff;
  background-color: rgba(255, 255, 255, 0);
  transform: translateY(-4px) scale(1.05);
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.nav-label {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  right: 0;
  font-size: 0.75rem;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  color: #5555558a;
  pointer-events: none;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}

.nav-item:hover .nav-label {
  opacity: 1;
  transform: translateY(0);
}

/* Dark theme overrides */
/* Navbar */
html[data-theme="dark"] .navbar {
  background-color: rgba(28, 28, 30, 0.75); /* Dark charcoal */
  border: 1px solid rgba(184, 184, 184, 0.29);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/*  Icons  */
html[data-theme="dark"] .icon-link {
  color: rgba(255, 255, 255, 0.8);
}

/* Labels */
html[data-theme="dark"] .nav-label {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: none;
}

html[data-theme="dark"] .icon-link:hover {
  color: #4e7dff;
}
